/************* GÉNÉRAL *************/


html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}



/************* ELEMENTS *************/

/**--------- BASE ---------**/

body {
    margin: 0px;
}

.wrapper {
    margin: 0 auto;
    max-width: 1319px;
}


/**--------- MISE EN PAGE ---------**/

h1 {
    font: bold 3.125rem "Encode Sans", sans-serif;
    letter-spacing: 5%;
    margin: 0px;
}

h2 {
    font: bold 2.25rem "Work Sans", sans-serif;
    letter-spacing: 3%;
    margin: 0px;
}

h3 {
    font: 600 1.75rem "Work Sans", sans-serif;
    margin: 0px;
}

h4 {
    font: bold 2.5rem "Encode Sans", sans-serif;
    letter-spacing: 5%;
    margin: 0px;
}

h5 {
    font: bold 1.5rem "Work Sans", sans-serif;
    margin: 0px;
}

p {
    font: normal 1.25rem "Work Sans", sans-serif;
    margin: 0px;
}

.p2 {
    font: italic lighter 1.25rem/23.5px "Work Sans", sans-serif;
    margin: 0px;
}

.p3 {
    font: 600 1.5rem "Work Sans", sans-serif;
    margin: 0px !important;
}

.p4 {
    font: 600 1.125rem "Work Sans", sans-serif;
    margin: 0px;
}

.BTstyle1 {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    padding: 10px 30px;
    background-color: #A11E16;
    color: white;
}

.BTstyle2 {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    padding: 15px 40px;
    background-color: #A11E16;
    box-shadow: inset 0 0 0 1px white;
    color: white;
}

.BTstyle3 {
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    padding: 5px 10px;
    background-color: #A11E16;
    color: white;
}

.hvr-underline-from-center:hover:before {
    background: white;
    height: 1px;
    bottom: 10px;
    left: 10%;
    right: 10%;
}

.hvr-underline-from-center::before {
    background: white;
    height: 1px;
    bottom: 10px;
}

a {
    color: white;
    text-decoration: none;
}



/************* COMPONENTS *************/


/**--------- COMPONENTS COMMUNS ---------**/

/**---------header----------**/

header {
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header nav {
    min-height: 60px;
    display: flex;
    justify-content: center;
}

header .hvr-underline-from-center::before {
    background: white;
    height: 1px;
    bottom: 0px;
}

header .hvr-underline-from-center:hover::before {
    background: white;
    height: 1px;
    bottom: 0px;
    left: 0%;
    right: 0%;
}

header ul {
    gap: 37px
}

nav ul {
    list-style: none;
    margin: 0px;
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
}

nav p {
    text-transform: uppercase;
}

/**---------footer----------**/


footer {
    background-color: black;
    color: white;
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 124px;
}

footer .material-symbols-outlined {
    border-radius: 100%;
    font-weight: 100;
    font-size: 2rem;
    border: 3px white solid;
}

/**--------- PAGE ACCEUIL----------**/

/**---------hero----------**/

.Ahero {
    background: url(../images/HERO.png) center/cover no-repeat;
}

.Ahero .wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 1080px;
}

.HinfoBox {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    color: white;
    padding: 30px;
    max-width: 560px;
}

/**---------section à propos----------**/


.àpropos {
    background-color: #F8F4F4;
    min-height: 334px;
    text-align: center;
}

.àpropos h1 {
    padding-top: 50px;
}

.àpropos p {
    max-width: 633px;
    margin: 22px auto;
}

.àpropos button {
    margin-bottom: 50px;
}

/**---------section team----------**/


.team {
    text-align: center;
    background-color: white;
}

.team h1 {
    margin: 50px 0 11px;
}

.team h3 {
    margin-top: 32px;
}

.team .wrapper>p:first-of-type {
    margin-bottom: 59px;
}

.TeamCardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 85px;
    margin-bottom: 50px;
}

.teamImageContainer {
    background:
        url(../images/Produit1.png) center no-repeat,
        radial-gradient(56.12% 56.12% at 50% 50%, #616161 0%, #000 100%);
    border-radius: 100vw;
    padding: 0px;
    cursor: pointer;
    width: 303px;
    height: 303px;

}

.Acardteam {
    background-color: #F8F4F4;
    box-shadow: inset 0 0 0 2px #A11E16;
    padding: 40px 10px;
    border-radius: 20px;
    min-width: 363px;
}

/**---------section produits----------**/


.Aproduits {
    text-align: center;
    background-color: #F8F4F4;
}

.Aproduits h1 {
    padding-top: 50px;
}

.Aproduits h5 {
    margin: 20px 0 0 0;
}

.Aproduits .wrapper>p:first-of-type {
    max-width: 562px;
    margin: 10px auto 23px;
}

.Aproduits .wrapper {
    padding-bottom: 50px;
}

.Aproduits ul {
    gap: 50px;
}

.Aproduits nav p {
    text-transform: capitalize;
}

.Aarticlecontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 69px;
    margin: 38px 0px;
}

.hvr-bounce-in:hover {
    transform: scale(1.1);
}

.Acardproduit {
    background-color: white;
    border-radius: 20px;
    border: #A11E16 2px solid;
    max-width: 275px;
}

.AtextCard {
    color: black;
}

.Acardproduit p {
    margin-bottom: 5px;
}

.Acardimage {
    min-height: 275px;
    background: radial-gradient(56.12% 56.12% at 50% 50%, #616161 0%, #000 100%);
    border-radius: 18px 18px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**---------section localisation----------**/


.Alocalisation .material-symbols-outlined {
    color: #A11E16;
    font-size: 50px;
}

.mapBigBox {
    text-align: center;
    background-color: #A11E16;
    color: white;
    margin: 50px 0px;
    border-radius: 20px;
    padding: 50px;
}

.mapettext {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 75px;
    margin: 30px 0px;

}

.mapTextBox {
    background-color: white;
    color: black;
    text-align: left;
    max-height: 623px;
    border: 2px black solid;
    border-radius: 20px;
    padding: 10px 20px;
}

.mapTextBox>h3:first-of-type {
    margin: 20px 0px;
}

.mapTextBox ul {
    padding: 0px;
    margin-top: 20px;
}

.mapTextBox li {
    max-height: 50px;
}